<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Petal</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strait&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <!-- navbar starts here -->
    {% extends "base.html" %}
    {% block content %}
    <!-- navbar ends here -->

    <!-- image slider is header -->
    <div class="slider">
      <div class="slide">
        <a href="link1.html" class="slide-link"></a>
        <img src="static/images/banner-1.webp" alt="Slide 1" />
        <!-- <div class="slide-content">
        <h1>Capture Your Every Moments</h1>
        <p>This is a description of the amazing product.</p>
        <button>Lets Explore</button>
      </div> -->
        <button class="nav prev" onclick="prevSlide()">
          <i class="ri-arrow-left-line"></i>
        </button>
        <button class="nav next" onclick="nextSlide()">
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
      <div class="slide">
        <a href="link1.html" class="slide-link"></a>
        <img src="static/images/banner-2.jpg" alt="Slide 2" />

        <button class="nav prev" onclick="prevSlide()">
          <i class="ri-arrow-left-line"></i>
        </button>
        <button class="nav next" onclick="nextSlide()">
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
      <div class="slide">
        <a href="link1.html" class="slide-link"></a>
        <img src="static/images/banner-3.jpg" alt="Slide 3" />
        <!-- <div class="slide-content">
        <h1>Awesome Product</h1>
        <p>This is a description of the awesome product.</p>
        <button>Buy Now</button>
      </div> -->
        <button class="nav prev" onclick="prevSlide()">
          <i class="ri-arrow-left-line"></i>
        </button>
        <button class="nav next" onclick="nextSlide()">
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>

      <div class="slide">
        <a href="link1.html" class="slide-link"></a>
        <img src="static/images/banner-4.webp" alt="Slide 4" />
        <!-- <div class="slide-content">
        <h1>Exciting Product</h1>
        <p>This is a description of the exciting product.</p>
        <button>Buy Now</button>
      </div> -->
        <button class="nav prev" onclick="prevSlide()">
          <i class="ri-arrow-left-line"></i>
        </button>
        <button class="nav next" onclick="nextSlide()">
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
    <script src="/static/javascript/script.js"></script>
    <!-- image slider finishes here -->

    <!-- product section starts here -->
    <div class="product-section">
      <div class="product-head">
        <div class="product-head1">
          <img src="static/images/free deliverly.png" width="80px" alt="" />
          <a href=""><h2>Free Delivery</h2></a>
        </div>

        <div class="product-head1">
          <img src="static/images/vintage.png" width="80px" alt="" />
          <a href=""><h2 style="margin-left: 0px">Vintage Collection</h2></a>
        </div>

        <div class="product-head1">
          <img src="static/images/safe.png" width="77px" />
          <a href=""><h2>100% Safe</h2></a>
        </div>

        <div class="product-head1">
          <img src="static/images/7days.png" width="80px" />
          <a href=""><h2>7 Days return</h2></a>
        </div>

        <div class="product-head1">
          <img src="static/images/certified.png" width="80px" alt="" />
          <a href=""><h2 style="margin-left: 53px">Certified</h2></a>
        </div>

        <div class="product-head1">
          <img src="static/images/premium.png" width="80px" alt="" />
          <a href=""><h2>Premium Quality</h2></a>
        </div>
      </div>
      <div class="flash-sale">
        <h1>Flash Sale</h1>
      </div>
      <div class="on-sale">
        <h1>On sale</h1>
        <div class="time-left">
          <h3>Ending on:&nbsp;&nbsp;</h3>
          <div class="time-box" id="hours">00</div>
          <div class="time-box" id="minutes">00</div>
          <div class="time-box" id="seconds">10</div>
          <a class="button" href="products.html">Shop More</a>
        </div>
      </div>
    </div>
    <script src="/static/javascript/flash-sale.js"></script>
    <div class="products">
      <div class="product1">
        <button>Sale</button>
        <img src="static/images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-half">
            <div class="price-original">₨1,050.00</div>
            <hr class="cut-line" />
          </div>
          <div class="price-new">₨950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <button>Sale</button>
        <img src="static/images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-half">
            <div class="price-original">₨1,050.00</div>
            <hr class="cut-line" />
          </div>
          <div class="price-new">₨950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <button>Sale</button>
        <img src="static/images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-half">
            <div class="price-original">₨1,050.00</div>
            <hr class="cut-line" />
          </div>
          <div class="price-new">₨950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <button>Sale</button>
        <img src="static/images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-half">
            <div class="price-original">₨1,050.00</div>
            <hr class="cut-line" />
          </div>
          <div class="price-new">₨950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
    </div>

    <div class="featuredproduct">
      <div class="featured">
        <h1>Featured Product</h1>
      </div>
      <div class="products">
        <div class="product1">
          <!-- <button>Sale</button> -->
          <img src="static/images/onsale1.png" alt="" />
          <h3>Sony a7R</h3>
          <div class="price-container">
            <!-- <div class="price-half">
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
            <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
          </div>
          <div class="product-button">
            <a href="" class="button1">Buy Now</a>
            <a href="" class="button2"
              ><i class="ri-shopping-cart-line"></i>
            </a>
          </div>
        </div>
        <div class="product1">
          <!-- <button>Sale</button> -->
          <img src="static/images/onsale1.png" alt="" />
          <h3>Sony a7R</h3>
          <div class="price-container">
            <!-- <div class="price-half">
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
            <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
          </div>
          <div class="product-button">
            <a href="" class="button1">Buy Now</a>
            <a href="" class="button2"
              ><i class="ri-shopping-cart-line"></i>
            </a>
          </div>
        </div>
        <div class="product1">
          <!-- <button>Sale</button> -->
          <img src="static/images/onsale1.png" alt="" />
          <h3>Sony a7R</h3>
          <div class="price-container">
            <!-- <div class="price-half">
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
            <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
          </div>
          <div class="product-button">
            <a href="" class="button1">Buy Now</a>
            <a href="" class="button2"
              ><i class="ri-shopping-cart-line"></i>
            </a>
          </div>
        </div>
        <div class="product1">
          <!-- <button>Sale</button> -->
          <img src="static/images/onsale1.png" alt="" />
          <h3>Sony a7R</h3>
          <div class="price-container">
            <!-- <div class="price-half">
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
            <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
          </div>
          <div class="product-button">
            <a href="" class="button1">Buy Now</a>
            <a href="" class="button2"
              ><i class="ri-shopping-cart-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- product section ends here -->
    <!-- footer section starts here -->
     {% endblock %}
  </body>
</html>
