{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class=body> 

    <div class="form-container">
      <form class="form">
        <p class="form-title">Sign in to your account</p>
      <div class="input-container">
        <input placeholder="Enter email" type="email" name= "email">
      
      </div>
    <div class="input-container">
      <input placeholder="Enter password" type="password" name = "password">
    </span>
  </div>
<button class="submit" type="submit">
  Sign in
</button>

<p class="signup-link">
  No account?
<a href={% url 'signUp' %}>Sign up</a>
</p>
</form>
</div>
</div>
</div>
</body>
</html>
{% endblock %}