<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Petal</title>
    <link rel="stylesheet" href="/static/css/product.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strait&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- navbar starts here -->
    {% extends "base.html" %} {% load static %} {% block content %}
    <!-- navbar ends here -->

    <!-- product banner starts here -->

    <!-- just for you section -->
    <div class="product-banner">
      <h1>Canon</h1>
    </div>
    <div class="products">
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="{% static 'images/onsale1.png' %}" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half"> 
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="{% static 'images/onsale1.png' %}" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half"> 
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="{% static 'images/onsale1.png' %}" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half"> 
                        <div class="price-original">₨1,050.00</div>
                        <hr class="cut-line">
                    </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
    </div>
    <!-- our products part -->
    <div class="product-banner1">
      <h1>Sony</h1>
    </div>
    <div class="products">
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                      <div class="price-original">₨1,050.00</div>
                      <hr class="cut-line">
                  </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
    </div>

    <!-- vinatge Collection starts here -->
    <div class="product-banner1">
      <h1>Panasonic</h1>
    </div>
    <div class="products">
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                          <div class="price-original">₨1,050.00</div>
                          <hr class="cut-line">
                      </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                          <div class="price-original">₨1,050.00</div>
                          <hr class="cut-line">
                      </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                          <div class="price-original">₨1,050.00</div>
                          <hr class="cut-line">
                      </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                          <div class="price-original">₨1,050.00</div>
                          <hr class="cut-line">
                      </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
    </div>
    <!-- people favorites part starts here -->
    <div class="product-banner1">
      <h1>Nikon</h1>
    </div>
    <div class="products">
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                            <div class="price-original">₨1,050.00</div>
                            <hr class="cut-line">
                        </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                            <div class="price-original">₨1,050.00</div>
                            <hr class="cut-line">
                        </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                            <div class="price-original">₨1,050.00</div>
                            <hr class="cut-line">
                        </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
      <div class="product1">
        <!-- <button>Sale</button> -->
        <img src="images/onsale1.png" alt="" />
        <h3>Sony a7R</h3>
        <div class="price-container">
          <!-- <div class="price-half">
                            <div class="price-original">₨1,050.00</div>
                            <hr class="cut-line">
                        </div> -->
          <div class="price-new" style="margin-left: 100px">₨ 950.00</div>
        </div>
        <div class="product-button">
          <a href="" class="button1">Buy Now</a>
          <a href="" class="button2"><i class="ri-shopping-cart-line"></i> </a>
        </div>
      </div>
    </div>
    <!-- footer section starts here -->
    {% endblock %}
  </body>
</html>
