{% extends 'base.html' %}
{% block content %}
{% load static  %}


<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static "css/signup.css" %} ">
</head>
<body>
    <div class="body">
        <div class="container">
            <form>
                <div class="head">
                    <span>Sign up</span>
                    <p>Create a free account with your email.</p>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Middle Name">
                    <input type="text" placeholder="Last Name Name">
                    <input type="email" placeholder="Email Address">
                    <input type="text" placeholder="Address">
                    <input type="text" placeholder="Phone Number">
                    <input type="password" placeholder="Password">
                </div>
                <button>Sign up</button>
            </form>
            <div class="form-footer">
                <p>Have an account? <a href="#">Log in</a></p> 
            </div>
    
        </div>
    </div>
</body>
{% endblock %}
