:root {
    --font-family:"Poppins", sans-serif;

  }

 
 body {
    /* box-sizing: border-box; */
    height: 100vh;
    margin: 0;
  /* margin-top: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/loginback.jpg) ;
 background-color:lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

.form-container{
  position: relative;
        /* mix-blend-mode: color-dodge; */
        background-color: rgba(255, 255, 255, 0.461);
        border-radius: 1rem;
        font-family: var(--font-family);
        bottom: 40px;

}
  
.form {
    /* mix-blend-mode: color-dodge; */
    /* background-color: #ffffff; */
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05);
    /* z-index: 100; */
    font-family: var(--font-family);
  }
  ::placeholder {
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
  }
  .form-title {
    font-family: var(--font-family);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    font-family: var(--font-family);
  }
  
  .input-container input {
    background-color: #f7f7f7;
    padding: 1rem;
    padding-right: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-family: var(--font-family);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1.5rem;
    place-content: center;
    font-family: var(--font-family);
  }
  
  
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-family: var(--font-family);
  }
  
  .signup-link {
    color: #000000;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-family);
    text-decoration: underline;
  }
  