:root {
    --font-family:"Poppins", sans-serif;

  }

  *{
    /* width: 100vw; */
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: white;
}
           
/* navbar stops here */


.product-banner {
    margin-top: 120px;
    /* border: 2px solid gold; */
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}
.product-banner1 {
    margin-top: 30px;
    /* border: 2px solid gold; */
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.product-banner h1, .product-banner1 h1 {
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-align: center;
    
}

.products{
    margin-left: 120px;
    display: flex;
    gap: 30px;
    margin-top: 10px;
    /* border: 2px solid gold; */
    height: 50vh;
    justify-content: space-around;
  }
  .product1{
    background-color: #fafafa;
    /* border: 2px solid red; */
    width: 300px;
    position: relative;
    

  }
 .product1 img{
    width: 350px;
    display: block; /* Make the image a block element */
    margin: 0 -20px; /* Center horizontally */
  }
  .product1 img:hover{
    transform: scale(1.2);
  }
  .product1 button{
    margin: 5px;
    padding: 2px 5px;
    background-color: greenyellow;
    font-size: 15px;
  }
  .product1 h3{
    display: block; /* Make the image a block element */
    margin: 0 90px; /* Center horizontally */
    font-size: 20px;
    font-weight: 500;
  }
  .price-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.price-half {
    position: relative;
    margin-left: 15px;
}

.price-original {
    color: gray;
    margin-right: 10px; 
    font-size: 16px; /* Adjust font size */
    font-weight: 400; /* Adjust font weight */}

.cut-line {
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    
}

.price-new {
    margin-left: 10px; 
    font-size: 16px; /* Adjust font size */
    font-weight: 400; /* Adjust font weight */
}
.product-button{
    margin-top: 20px;
    /* margin-left: 70px; */
    display: flex;
    justify-content: center; /* Center align the buttons horizontally */
}
.product-button .button1{
    margin: 0 7px;
    color: #000000;
    border: 1px solid black;
   border-radius: 5px;
    padding: 10px ;
    font-size: 15px;
}
.product-button .button2{
    margin: 0 7px;
    color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
}