<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cart.css">
    <title>Product Details</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<header>
        
    <nav>
        <span><img src="images/download.png" alt="" srcset="" width="75px" height=""></span>
        <ul>
            <a href="home.html" class="nav-link"><li>HOME</li></a>
            
            <a href="products.html" class="nav-link"><li>PRODUCTS</li></a>
            <a href="about us.html" class="nav-link"><li>ABOUT US</li></a>
           
        </ul>
        <div class="search-container">
            <input type="text" class="search-bar" id="searchInput" placeholder="Search...">
            <button class="search-btn" type="submit"><i class="ri-search-line"></i></button>
          </div>
          <div class="login-signup">
            <a href="login.html" class="button"><i class="ri-user-line"></i>Login</a>
            <a href="sign up.html" class="button"><i class="ri-logout-box-r-line"></i>Sign Up</a>
          </div>
          <div class="cart">
            <a href="cart.html" class="button"><i class="ri-shopping-cart-line"></i></a>`
          </div>
    </nav>
</header>
<!-- navbar ends here -->
            <div class="search-container">
                <input type="text" class="search-bar" id="searchInput" placeholder="Search...">
                <button class="search-btn" type="submit"><i class="ri-search-line"></i></button>
              </div>
              <div class="login-signup">
                <a href="login.html" class="button"><i class="ri-user-line"></i>Login</a>
                <a href="sign up.html" class="button"><i class="ri-logout-box-r-line"></i>Sign Up</a>
              </div>
              <!-- <div class="cart">
                <a href="cart.html" class="button"><i class="ri-shopping-cart-line"></i></a>`
              </div> -->
        </nav>
</header>
<!-- navbar ends here -->

<div class="product-list">
    <div class="select-all">
        <input type="checkbox" id="selectall">
        <label for="selectall">Select all Items</label>
        <button class="delete1"><i class="ri-delete-bin-line">DELETE</i></button>
    </div>
    <div class="checkout">
        <h1>Order Summary</h1>
        <p>Subtotal (0 items) <span>Rs 0</span></p>
        <div class="container">
            <input type="text" class="text-field" placeholder="Enter Voucher Code">
            <button class="apply-button">Apply</button>
        </div>
        <p class="lasttotal">Total<span>Rs 0</span></p>
        <button class="btn">PROCEED TO CHECKOUT</button>
    </div>
</div>
    <div class="product">
        <input type="checkbox" id="productcheckbox">
        
        <img src="images/description2.png" alt="Product Image">
        <div class="product-details">
            <h1>Canon EOS Rebel T7i DSLR Camera </h1>
            <p class="brand">Canon</p>
            <p class="price">NPR 147731 <span class="discount">NPR 150000</span></p>
            <div class="quantity">
                <button class="minus">-</button>
                <input type="text" value="1">
                <button class="plus">+</button>
                <button class="delete"><i class="ri-delete-bin-line"></i></button>
            </div>
        </div>
    </div>
    <div class="product1">
        <input type="checkbox" id="productcheckbox">
        
        <img src="images/description2.png" alt="Product Image">
        <div class="product-details">
            <h1>Canon EOS Rebel T7i DSLR Camera </h1>
            <p class="brand">Canon</p>
            <p class="price">NPR 147731 <span class="discount">NPR 150000</span></p>
            <div class="quantity">
                <button class="minus">-</button>
                <input type="text" value="1">
                <button class="plus">+</button>
                <button class="delete"><i class="ri-delete-bin-line"></i></button>
            </div>
        </div>
    </div>
    

    <div class="product2">
        <input type="checkbox" id="productcheckbox">
        
        <img src="images/description2.png" alt="Product Image">
        <div class="product-details">
            <h1>Canon EOS Rebel T7i DSLR Camera </h1>
            <p class="brand">Canon</p>
            <p class="price">NPR 147731 <span class="discount">NPR 150000</span></p>
            <div class="quantity">
                <button class="minus">-</button>
                <input type="text" value="1">
                <button class="plus">+</button>
                <button class="delete"><i class="ri-delete-bin-line"></i></button>
            </div>
        </div>
    </div>
    <script src="javascript/cart.js"></script>

    <!-- footer section starts here -->
    <footer class="footer">
        <div class="container1">
         <div class="row">
           <div class="footer-col">
             <h4>company</h4>
             <ul>
               <li><a href="#">about us</a></li>
               <li><a href="#">our services</a></li>
               <li><a href="#">privacy policy</a></li>
               <li><a href="#">affiliate program</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>get help</h4>
             <ul>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">shipping</a></li>
               <li><a href="#">returns</a></li>
               <li><a href="#">order status</a></li>
               <li><a href="#">payment options</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>online shop</h4>
             <ul>
               <li><a href="#">watch</a></li>
               <li><a href="#">bag</a></li>
               <li><a href="#">shoes</a></li>
               <li><a href="#">dress</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>follow us</h4>
             <div class="social-links">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
             </div>
           </div>
         </div>
        </div>
     </footer>
     </body>
     </html>

</body>
</html>