{% load static  %}

<html lang="en">
  <head>
    <link rel="stylesheet" href ="/static/css/header.css" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strait&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <span
          ><img
            src="{% static 'images/download.png' %}"
            alt=""
            srcset=""
            width="75px"
            height=""
        /></span>
        <ul>
          <a href="{% url 'home' %}" class="nav-link"><li>HOME</li></a>
          <a href="{% url 'products' %}" class="nav-link"><li>PRODUCTS</li></a>
          <a href="{% url 'aboutUs'  %}" class="nav-link"><li>ABOUT US</li></a>
        </ul>
        <div class="search-container">
          <input
            type="text"
            class="search-bar"
            id="searchInput"
            placeholder="Search..."
          />
          <button class="search-btn" type="submit">
            <i class="ri-search-line"> </i>
          </button>
        </div>
        <div class="login-signup">
          <a href="{% url 'login'  %}" class="button"
            ><i class="ri-user-line"></i>Login</a
          >
          <a href="{% url 'signUp' %}" class="button"
            ><i class="ri-logout-box-r-line"></i>Sign Up</a
          >
        </div>
        <div class="cart">
          <a href="cart.html" class="button"
            ><i class="ri-shopping-cart-line"></i></a
          >`
        </div>
      </nav>
    </header>
  </body>
</html>
